nav {
    background-color: #59a8d8 !important;
}

.navbar-size {
    width: 95%;
    margin: 0 auto;
}

.user-image-size {
    height: 55px;
    padding-top: 0.5rem;
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}

.main-body {
    background-color: #84c8f2;
    color: rgb(57, 57, 57);
    height: calc(100vh - 64px);
}

.click-me-button {
    background-color: #59a8d9;
    margin-top: 30px
}